/* Root CSS For Main App Layout */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100%;
    width: 100%;
}

/* Electron App Bar Draggable */
.wa-drag {
    -webkit-app-region: drag
}

.wa-nodrag {
    -webkit-app-region: no-drag
}

:root {
    /* Root Fonts (Inter)  */
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

    /* Misc */
    user-select: none;
}

/* Inter Variable Font */
@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}